body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
}
input {
    display: none;
}
label {
    font-size: 2.6rem;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.1s ease;
}
input:checked+label {
    color: #ff3b5c;
    transform: scale(1.1);
}
input:active {
    transform: scale(.9);
}
label:hover {
    transform: scale(1.1);
} 